body {
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 3em;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}