body {
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
  width: 100%;
}

.red {
  background-color: rgba(255, 0, 0, 0.728);
}

.yellow {
  background-color: rgb(255, 166, 0);
}

.green {
  background-color: rgba(0, 128, 0, 0.722);
}

@media screen and (min-width: 769px) {
  body {
    font-size: 3em;
  }
}
