body {
  text-align: center;
  color: #fff5ee;
}
.button {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font: bold 16px Arial;
  padding: 20px;
  border: 1px solid black;
  margin: 10px;
}
.green {
  background: green;
}
.red {
  background: red;
}
.yellow {
  background: yellow;
}

.party {
    background: red;
    position: relative;
    -webkit-animation: party 2.5s infinite; /* Safari 4.0 - 8.0 */
    animation: party 2.5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes party {
    0%  {background: red;}
    50% {background: yellow;}
    100% {background: green;}
}

/* Standard syntax */
@keyframes party {
    0%   {background: red;}
    50%  {background: yellow;}
    100% {background: green;}
}
